<div *ngIf="products$ | async as products" class="mat-elevation-z8">
  <table mat-table [dataSource]="products.content">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Ilość</th>
        <td mat-cell *matCellDef="let element">{{ element.quantity}}</td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[2, 5, 10, 20]"
    showFirstLastButtons
    [length]="products.totalElements"
    [pageSize]="products.size"
    (page)="changePage($event)"
  ></mat-paginator>
</div>
